body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(134, 202, 241);
}

html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  flex: 1 0 auto;
  width: 100%;
}

.footer {
  flex-shrink: 0;
}

footer {
  background-color: black;
  color: grey;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

footer p {
  font-size: .75rem;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  border-bottom: .25rem solid greenyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

#logo {
  width: 10rem;
  height: 10rem;
}

img {
  margin: 0rem;
}

.header-h1 {
  font-family: 'Trispace', sans-serif;
  font-size: 3rem;
  margin-bottom: 0rem;
}

.header-h2 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.start, .game {
  margin: 4rem;
  align-self: center;
  justify-self: center;
}

.get-started-box {
  border-radius: .75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  background: white;
}

.start {
  display: flex;
  flex-direction: column;
}

.game {
  margin-left: 0rem;
  margin-right: 0rem;
}

.li {
  line-height: 2rem;
}

span {
  padding: .25rem .75rem;
  border-radius: .25rem;
}

#play-span, #again-span {
  background: rgb(78, 77, 77);
  color: white;
}

#submit-span {
  background: white;
  border: .05rem solid black;
}

#next-span {
  background: greenyellow;
}

#score-span {
  background: white;
  color: black;
  border: .05rem solid black;
}


.card {
  background: white;
  padding: 1rem;
  border-radius: .75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0rem 2rem 2rem 2rem;
}

.button {
  font-size: 1rem;
  padding: .5rem;
}

.button-box {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.start-button-box {
  align-self: center;
}

#start-button {
  background: rgb(78, 77, 77);
  color: white;
  margin-top: 3rem;
  font-size: 2rem;
}

.start-blink {
  animation: start-blinker .75s linear infinite;
}

@keyframes start-blinker {
  50% {
    opacity: .5;
  }
}

#next {
  background: greenyellow;
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 8rem;
}

.next-blink {
  animation: next-blinker .75s linear infinite;
}

@keyframes next-blinker {
  50% {
    opacity: .5;
  }
}

#play-again {
  background: rgb(78, 77, 77);
  color: white;
  margin-bottom: 2rem;
  width: 8rem;
  opacity: .85;
}

#get-score {
  background: white;
  color: black;
  margin-bottom: 2rem;
  width: 8rem;
}

#submit {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: whitesmoke;
}

.score {
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 500px) {
  .header {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .header-h1, .header-h2 {
    text-align: center;
  }

  .start {
    margin: 1rem;
  }

  .button-box {
    flex-direction: column-reverse;
  }
};