body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(134, 202, 241);
}

html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  flex: 1 0 auto;
  width: 100%;
}

.footer {
  flex-shrink: 0;
}

footer {
  background-color: black;
  color: grey;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: .75rem;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding-left: 2rem;
}

.header-h1 {
  font-family: 'Trispace', sans-serif;
  font-size: 3rem;
  margin-bottom: 0rem;
}

.header-h2 {
  font-size: 1rem;
}

.start, .game {
  margin: 4rem;
  align-self: center;
  justify-self: center;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: .75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.button {
  font-size: 1rem;
  padding: .5rem;
}

.button-box {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

#start-button {
  background: rgb(78, 77, 77);
  color: white;
}

#next {
  background: greenyellow;
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 8rem;
}

#play-again {
  background: rgb(78, 77, 77);
  color: white;
  margin-bottom: 2rem;
  width: 8rem;
  opacity: .85;
}

#get-score {
  background: white;
  color: black;
  margin-bottom: 2rem;
}

#submit {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}



